div#content
    div#ptitle
        div.title_main= latest.title
        div.tags
            !{latest.tags}
        div
            span.lright
    !{latest.content}
div#title
    div.title_main= latest.title
    div.tags
        !{latest.tags}
    div
        span.lright
div#btitle
    div.title_main= latest.title
    div.tags
        !{latest.tags}
    div
        span.lright
