!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        title Kenji Takahashi (WIP)
        link(rel="stylesheet", type="text/css", href="/stylesheets/code.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/index.css")
    body
        div#center
            div#content
                !{latest.content}
            div#title
                div#title_main= latest.title
                div#tags
                    !{latest.tags}
                div#line
                    span#lleft
                    span#lright
        div#left
            div#calendar
                a(href="/calendar/previous").pn#prev
                span#my
                    if(month < 10)
                        = '0'
                    = month
                    /
                    = year
                a(href="/calendar/next").pn#next
                table#datepicker
                    - var index = 0;
                    tr
                        each pday in previous
                            - index += 1;
                            td
                                a(href="/calendar/#{pday}").np= pday
                        each cday in current
                            if index == 7
                                tr
                                - index = 1;
                            else
                                - index += 1;
                            td
                                a(href="/calendar/#{cday}").c
                                    if(cday < 10)
                                        = '0'
                                    = cday
                        each nday in next
                            if index == 7
                                tr
                                - index = 1;
                            else
                                - index += 1;
                            td
                                a(href="/calendar/#{nday}").np
                                    if(nday < 10)
                                        = '0'
                                    = nday
            div#tags_chooser
                if(prev_tag[0])
                    a(href="#{urls[0]}#{urls[1]}t=#{prev_tag[1]}").pn#tprev
                else
                    span.pin
                ul.links
                    - var index = 0;
                    each tag in tags
                        - index += 1;
                        li
                            a(href="#{urls[0]}#{urls[3]}tag=#{tag[0]}")= tag[0]
                            span.tagcount
                                if(tag[1] < 10)
                                    = '000'
                                else
                                    if(tag[1] < 100)
                                        = '00'
                                    else
                                        if(tag[1] < 10)
                                            = '0'
                                = tag[1]
                    - while(index < 12) {
                        - index += 1;
                        li
                            span.tagcount= NaN
                    - }
                if(next_tag[0])
                    a(href="#{urls[0]}#{urls[1]}t=#{next_tag[1]}").pn#tnext
            div#posts
                if(prev_title[0])
                    a(href="#{urls[0]}#{urls[2]}p=#{prev_title[1]}").pn#pprev
                else
                    span.pin
                ul.links
                    each title in titles
                        li
                            a(href="/posts/#{title._id}#{urls[3]}").post
                                = title.title.slice(0, 19)
                                if(title.title.length > 19)
                                    = '...'
                if(next_title[0])
                    a(href="#{urls[0]}#{urls[2]}p=#{next_title[1]}").pn#pnext
        div#right
            span.aheader Kenji Takahashi
            br
            span.atext
                | A student of Computer Science at The University of Wrocław, Poland. Mainly interested in high-level, dynamic programming and (G)UI designs. Likes good music and classic sci-fi books.
            br
            span.aheader Projects
            br
            span.atext
                each project in projects
                    if project.active == true
                        a(href="#{project.site}")= project.name
                    else
                        a(href="#{project.site}").pdname= project.name
                    = ' ' + project.desc
                    br
            span#copyright Kenji Takahashi © 2012
