mixin append_zero(str)
    if(str < 10)
        = '0'
    = str

mixin cell(part)
    each month, i in part
        url = urls[0] + '?date=' + dp.year + '-' + month + urls[5]
        td
            if(month != undefined)
                if(dp.year + "-" + month == dp.selected)
                    a(href="#{url}")#selected
                        mixin append_zero(month)
                else
                    a(href="#{url}")
                        mixin append_zero(month)
        if(i != 5)
            td.tsep
                span

div#date
    div#day
        mixin append_zero(latest.date.getDate())
    div#month= latest.month
    div#year= latest.date.getFullYear()

div#calendar
    a(href="#{urls[0]}?d=#{dp.year - 1}#{urls[4]}").pn#prev
    span.sep#sleft
    span#my= dp.year
    span.sep#sright
    a(href="#{urls[0]}?d=#{dp.year + 1}#{urls[4]}").pn#next
    table#datepicker
        - var part = dp.data.splice(0, 6);
        tr
            mixin cell(part)
        tr
            mixin cell(dp.data)

div#tags_chooser
    if(prev_tag[0])
        a(href="#{urls[0]}?t=#{prev_tag[1]}#{urls[1]}").pn#tprev
    else
        span.pin
    ul.links
        - var index = 0;
        each tag in tags
            - index += 1;
            li
                a(href="#{urls[0]}?tag=#{tag[0]}#{urls[3]}")= tag[0]
                span.tagcount
                    if(tag[1] < 10)
                        = '000'
                    else
                        if(tag[1] < 100)
                            = '00'
                        else
                            if(tag[1] < 1000)
                                = '0'
                    = tag[1]
        while index < 12
            - index += 1;
            li
                span.tagcount= NaN
    if(next_tag[0])
        a(href="#{urls[0]}?t=#{next_tag[1]}#{urls[1]}").pn#tnext

div#posts
    if(prev_title[0])
        a(href="#{urls[0]}?p=#{prev_title[1]}#{urls[2]}").pn#pprev
    else
        span.pin
    ul.links
        each title in titles
            li
                a(href="/posts/#{title._id}#{urls[6]}").post
                    = title.title.slice(0, 19)
                    if(title.title.length > 19)
                        = '...'
    if(next_title[0])
        a(href="#{urls[0]}?p=#{next_title[1]}#{urls[2]}").pn#pnext
