mixin append_zero(day)
    if(day < 10)
        = '0'
    = day

mixin current_cell(part)
    each day in part
        url = urls[0] + '?date=' + dp.year + '-' + dp.month + '-' + day + urls[5]
        td
            if(dp.year + "-" + dp.month + "-" + day == dp.selected)
                a(href="#{url}")#selected
                    mixin append_zero(day)
            else
                a(href="#{url}")
                    mixin append_zero(day)

mixin other_cells(part, month, link)
    each day in part
        td
            if(dp.year + "-" + month + "-" + day == dp.selected)
                a(href="#{urls[0]}?date=#{link}-#{day}#{urls[5]}").np#selected
                    mixin append_zero(day)
            else
                a(href="#{urls[0]}?date=#{link}-#{day}#{urls[5]}").np
                    mixin append_zero(day)

div#calendar
    a(href="#{urls[0]}?d=#{dp.plink}#{urls[4]}").pn#prev
    span#my
        if(dp.month < 10)
            = '0'
        = dp.month
        /
        = dp.year
    a(href="#{urls[0]}?d=#{dp.nlink}#{urls[4]}").pn#next
    table#datepicker
        tr
            mixin other_cells(dp.previous, dp.month - 1, dp.plink)
            - var part = dp.current.splice(0, 7 - dp.previous.length);
            mixin current_cell(part)
            while dp.current.length > 0
                - part = dp.current.splice(0, 7);
                tr
                    mixin current_cell(part)
                    if(dp.current.length == 0)
                        - part = dp.next.splice(0, 7 - part.length);
                        mixin other_cells(part, dp.month + 1, dp.nlink)
            while dp.next.length > 0
                - part = dp.next.splice(0, 7);
                tr
                    mixin other_cells(part, dp.month + 1, dp.nlink)
div#tags_chooser
    if(prev_tag[0])
        a(href="#{urls[0]}?t=#{prev_tag[1]}#{urls[1]}").pn#tprev
    else
        span.pin
    ul.links
        - var index = 0;
        each tag in tags
            - index += 1;
            li
                a(href="#{urls[0]}?tag=#{tag[0]}#{urls[3]}")= tag[0]
                span.tagcount
                    if(tag[1] < 10)
                        = '000'
                    else
                        if(tag[1] < 100)
                            = '00'
                        else
                            if(tag[1] < 1000)
                                = '0'
                    = tag[1]
        while index < 12
            - index += 1;
            li
                span.tagcount= NaN
    if(next_tag[0])
        a(href="#{urls[0]}?t=#{next_tag[1]}#{urls[1]}").pn#tnext
div#posts
    if(prev_title[0])
        a(href="#{urls[0]}?p=#{prev_title[1]}#{urls[2]}").pn#pprev
    else
        span.pin
    ul.links
        each title in titles
            li
                a(href="/posts/#{title._id}#{urls[6]}").post
                    = title.title.slice(0, 19)
                    if(title.title.length > 19)
                        = '...'
    if(next_title[0])
        a(href="#{urls[0]}?p=#{next_title[1]}#{urls[2]}").pn#pnext
